# These are "proxy" symbols used to pass config-host.mak values
# down to Kconfig.  See also kconfig_external_symbols in
# meson.build: these two need to be kept in sync.

config LINUX
    bool

config LIBCBOR
    bool

config GNUTLS
    bool

config OPENGL
    bool

config X11
    bool

config PIXMAN
    bool

config SPICE
    bool

config IVSHMEM
    bool

config TPM
    bool

config FDT
    bool

config VHOST_VDPA
    bool

config VHOST_KERNEL
    bool

config VIRTFS
    bool

config HV_BALLOON_POSSIBLE
    bool

config MAC_PVG
    bool
